%li.dropdown
  %a.dropdown-toggle{href: '#', :"data-toggle" => "dropdown"}
    %i.icon-user.icon-white
    = t(".sign_in") + "..."
    %b.caret
  %ul.dropdown-menu
    - [:facebook, :google].each do |provider|
      %li
        = link_to t(".with", provider: provider.to_s.capitalize), user_omniauth_authorize_path(provider)
