%li.dropdown
  %a.dropdown-toggle{href: '#', :"data-toggle" => "dropdown"}
    %i.icon-user.icon-white
    = current_user
    %b.caret
  %ul.dropdown-menu
    %li
      %a{href: '#'}
        Role: 
        = current_user.role
    %li
      %a{href: '#'}
        Balance:
        = current_user.balance_str
    %li
      %a{href: 'https://github.com/rewritten/timebank/issues'}
        %i.icon-comment
        Bugs and feedback
    %li.divider
    %li
      %a{href: destroy_user_session_path, :"data-method" => :delete, rel: "nofollow"}
        %i.icon-off
        Sign out
= image_tag(current_user.face, :class => 'face')
